<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DomainParser.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DomainParser.Library.Properties.Settings>
			<setting name="SuffixRulesExpireDays" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="SuffixRulesFileLocation" serializeAs="String">
				<value>publicsuffix.txt</value>
			</setting>
			<setting name="SuffixRulesUrl" serializeAs="String">
				<value>https://publicsuffix.org/list/effective_tld_names.dat</value>
			</setting>
		</DomainParser.Library.Properties.Settings>
	</applicationSettings>
	<startup/></configuration>
